<h1>secretPage</h1>

My goods:
{{!-- гудслист искать в индексРуте --}}
{{#each goodsList}} 
<ul>
  <li>
    Name:
    <p>
    <a href="/user/editGood/{{this.id}}">{{this.name}}</a>
    </p>
  </li>
  <li>
    Dectription: 
    <p>
      {{this.description}}
      </p>
  </li>
  <li>
    Count: 
    <p>
      {{this.count}}
      </p>
  </li>
  <li>
    Price is {{this.price}}
  </li>
</ul>
________________________________
{{/each}}

